@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 10px;
    background-color: #7c7c7c;
}

::-webkit-scrollbar-thumb{
    background-color: #3b3b3b;
    border-radius: 10px;
}

body {
    background-color: #242424;
    margin: 0;
    color: rgba(255, 255, 255, 0.87);
    min-height: 100vh;
}

.hero-img {
    filter: drop-shadow(0 0 80px rgba(255, 255, 255, 0.37));
}

.loader {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid rgba(255, 0, 0, 0.7);
    border-top-color: transparent;
    animation: rot1 1.2s linear infinite;
  }
  
  @keyframes rot1 {
    to {
      transform: rotate(360deg);
    }
  }